DB_HOST=HOST
DB_PORT=PORT
DB_USER=USER
DB_PASSWORD=PASS
DB_NAME=DB

FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=your-app
FIREBASE_PRIVATE_KEY_ID=xxxx
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nABC...END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@...
FIREBASE_CLIENT_ID=123

GEMINI_API_KEY=your_key_here

PORT=PORT (ex: 5000)