version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongo:27017/hackathon
      NODE_ENV: production
    depends_on:
      - mongo
    networks:
      - hackathon-net

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    networks:
      - hackathon-net
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - hackathon-net


networks:
  hackathon-net:

volumes:
  mongo_data:
