version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      MONGO_URI: "mongodb://root:password@mongo:27017"
      PORT: 5000
    ports:
      - "5000:5000"
    environment:
      DB_HOST: mysql
      DB_USER: user
      DB_PASSWORD: pass
      DB_NAME: sprintx
      DB_PORT: 3306
    depends_on:
      - mysql
    networks:
      - hackathon-net

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    networks:
      - hackathon-net
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sprintx
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - hackathon-net


networks:
  hackathon-net:

# volumes:
#   mongo_data:
